
section {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px){
section:last-of-type{
  /* display: none; */
  min-height: 85vh;
}
}