
section:first-of-type {

  padding-bottom: 20px !important;

}

section:last-of-type{
  padding-top: 20px;
}

@media screen and (max-width: 768px){
section:last-of-type{
  /* display: none; */
  /* min-height: 85vh; */
}
}